<% content_for :title do %>About<% end %>

<h3>ABAvac ERP Project</h3>
<p>
	This project is still under construction. <br><br>
	Main Website: <br>
	<%= link_to('www.abavac.com', 'http://abavac.com') %><br><br>
	Other Websites: <br>
	<%= link_to('www.cctinc.com', 'http://cctinc.com') %>.<br>
	<%= link_to('www.abaitech.com', 'http://abaitech.com') %>.<br>
</p>
