<h1>Editing Document</h1>

<%= render 'form', document: @document %>

<div class="inputform">
<h3>Delete Document</h3>
  <%= button_to("Delete Document", document_path(@document), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger')  %>
</div>

<%= link_to 'Show', @document, :class => 'btn btn-primary' %> |
<%= link_to 'Back', documents_path, :class => 'btn btn-info'  %>
